/*======================================
	CSS Theme Table of Contents
========================================	
# Header CSS
# Hero Area CSS
# Contact Box CSS
# Contact Form CSS
========================================*/ 

/*======================================
	Header CSS
========================================*/
.header{
	position:relative;
}

/* Middle header */
.header-inner {
	padding: 20px 0;
	background: #333;
}
.middle-header {
    background: #fff;
    position: relative;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
/* Logo */
.header .logo {
    z-index: 33;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-box-shadow: inherit;
}
.header .img-logo {
    margin-top: 22px;
}
.header .text-logo{
	margin-top:30px;
}
.header .text-logo a,
.header .img-logo a {
    font-size: 26px;
    font-weight: 600;
    display: block;
    z-index: 9999;
    position: relative;
}
.header .menu-area {
    position: relative;
}
.header .navbar {
	padding: 0;
}
/* Main Menu */
.header .nav-inner {
    float: right;
    margin-right: 140px;
    text-align: right;
}
.header .nav li {
    margin-right: 30px;
    position: relative;
    float: none;
    display: inline-block;
}
.header .nav li:last-child{
	margin:0;
}
.header .nav li a {
    text-transform: capitalize;
    position: relative;
    display: block;
    padding: 30px 0;
    color: #2E2751;
    font-weight: 600;
}
.header .nav li.active a,
.header .nav li:hover a{
	color:#179E66;
}
.header .nav li a::before {
	content: "";
	position: absolute;
	width: 0;
	height: 4px;
	background: #179E66;
	bottom: -2px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.header .nav li.active a::before,
.header .nav li:hover a::before {
	opacity:1;
	visibility:visible;
    transform: scaleY(1);
	width: 50%;
}
.navbar-expand-lg .navbar-collapse{
	display:block !important;
}
.header .nav li a i {
	margin-left: 6px;
	font-size: 10px;
}
.header .nav li.icon-active a::after {
	content: "\f107";
	position: relative;
	font-family: 'FontAwesome';
	padding-left: 6px;
}
.header .nav li .sub-menu a::after,
.header .nav li.icon-active .sub-menu li.icon-active .sub-menu a::after,
.header .nav li.icon-active .sub-menu li.icon-active .sub-menu li.icon-active .sub-menu a::after{
	display:none;
}
.header .nav li.icon-active .sub-menu li.icon-active a::after, .header .nav li.icon-active .sub-menu li.icon-active .sub-menu li.icon-active a::after {
    display: inline-block;
    float: left;
    content: "\f100";
    padding: 0;
    margin-right: 8px;
}
/* Dropdown Menu */
.header .nav li .sub-menu {
    background: #fff;
    width: 220px;
    text-align: left;
    position: absolute;
    top: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    padding: 20px;
    left: -32px;
    margin: 0;
    -webkit-box-shadow: 1px 4px 12px rgba(51, 51, 51, 0.25);
    -moz-box-shadow: 1px 4px 12px rgba(51, 51, 51, 0.25);
    box-shadow: 1px 4px 12px rgba(51, 51, 51, 0.25);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.header .nav li:hover .sub-menu{
	opacity:1;
	visibility:visible;
}
.header .nav li .sub-menu li {
    float: none;
    margin: 0;
    display: block;
}
.header .nav li .sub-menu li:last-child{
	border:none;
}
.header .nav li .sub-menu li a {
    padding: 6px 15px;
    color: #666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
    background: transparent;
}
.header .nav li .sub-menu li a:before{
	display:none;
}
.header .nav li .sub-menu li:last-child a{
	border-bottom:0px;
}
.header .nav li .sub-menu li:hover a{
	color:#fff;
	background:#179E66;
}
.header .nav li .sub-menu li a:hover{
	border-color:transparent;
}
.header .nav li .sub-menu li i {
	float: right;
	margin-top: 8px;
	font-size:10px;
	z-index:5;
}
.header .nav li .sub-menu li .sub-menu {
    top: 0;
    left: initial;
    left: -122%;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px #3333334d;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    padding: 10px;
}
.header .nav li .sub-menu li:hover .sub-menu{
	opacity:1;
	visibility:visible;
}
.header .nav li .sub-menu li .sub-menu li a{
	padding: 8px 15px;
	color: #666;
	display: block;
	font-weight: normal;
	text-transform: capitalize;
	background: transparent;
}
.header .nav li .sub-menu li:hover .sub-menu li a{
	background:transparent;
}
.header .nav li .sub-menu li .sub-menu li a:hover{
	color:#fff;
	background:#179E66;
}
.header .nav li .sub-menu .sub-menu li:last-child a{
	border-bottom:0px solid;
}
.header .nav li .sub-menu li .sub-menu .sub-menu {
	transform: scaleY(0.2);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
	padding: 10px;
}
.header .nav li .sub-menu li .sub-menu li:hover .sub-menu {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}
/* Right Bar */
.right-bar {
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
    line-height: 86px;
    z-index: 3333;
    top: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.right-bar .right-nav{
	z-index: 333;
	position: relative;
}
.right-bar:after {
    content: '';
    position: absolute;
    top: 0;
    left: -21px;
    width: 118px;
    height: 101%;
    transform: skew(-26deg);
    background: #1c1b44;
    z-index: -1;
}
.right-bar ul li {
    display: inline-block;
    margin-right: 5px;
}
.right-bar ul li:last-child{
	margin:0;
}
.right-bar .right-nav li a {
    color: #fff;
    text-align: center;
    display: block;
    cursor: pointer;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 100%;
}
.right-bar .right-nav li a:hover {
    color: #F3A712;
    border-color: transparent;
    background: #fff;
}

/*======================================
	End Header CSS
========================================*/

/*====================================
	Page CSS
======================================*/

/* Content None CSS*/
.no-results {
	margin-top: 30px;
	width: 100%;
}
.no-results .page-header {
  margin-bottom: 5px;
}
.no-results .page-header .page-title {
  font-size: 28px;
}
.no-results .search-form {
  margin-top: 15px;
}

/* 404 Page CSS */
.error {
    padding: 130px 0;
}
.error .error-inner{
	text-align:left;
}
.error-inner h4 {
    font-size: 110px;
    line-height: 100px;
    color: #F3A712;
}
.error .error-image{
	margin-bottom:30px;
}
.error .error-inner img{
	height:100%;
	width:100%;
	max-width:50%;
	display:inline-block;
}
.error .error-inner h2 {
    font-size: 40px;
    color: #2E2751;
    font-weight: 600;
    margin: 15px 0;
}
.error .error-inner h2 span{
	color:#F3A712;
}
.error .error-inner p {
    font-size: 15px;
}
.error .error-inner .button {
	margin-top: 20px;
}
.error .error-inner .button .bizwheel-btn i {
	margin-right: 10px;
}
/*====================================
	End Page CSS
======================================*/



/*====================================
	Preloader CSS
======================================*/
.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.preloader-spinner {
    -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
    animation: 1s ease-out 0s normal none infinite running pulsate;
    border: 10px solid #F3A712;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 10;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
/*====================================
	End Preloader CSS
======================================*/

/*====================================
	Footer CSS
======================================*/
.footer {
	background-color: #1c1b44;
}

.footer p {
	color: #ccc;
	font-size:14px;
}

/* Copyright */
.footer .copyright {
    text-align: center;
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid #ebebeb3b;
}
.footer .copyright-content p {
    color: #fff;
    font-size: 14px;
}
.footer .copyright-content p span{
	font-size:17px;
	font-weight:800;
	text-transform:uppercase;
}
.footer .copyright-content a:hover{
	color:#F3A712;
}
/*====================================
	End Footer CSS
======================================*/

/*======================================
	Hero Area CSS
========================================*/ 
.home-slider {
	overflow: hidden;
}
.hero-slider {
	position: relative;
}
.hero-slider,
.hero-slider .single-slider{
	height:680px;
}
.hero-slider .single-slider {
	background-size: cover;
	background-position: center;
	position: relative;
}
.hero-slider .single-slider .slide-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.65;
}
.hero-slider .welcome-text {
    margin: 146px 0 0;
}
.hero-slider .hero-text h4 {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 400;
    display: inline-block;
    background: #2E2751;
    padding: 8px 20px;
    font-size: 16px;
}
.hero-slider .hero-text h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    border-top: 8px solid #2E2751;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.hero-slider .hero-text h1 {
    color: #dfdfdf;
    background: #2E2751;
    font-size: 15px;
    /*font-weight: bold;*/
    /*line-height: 65px;*/
    /*margin-bottom: 20px;*/
    /*padding-bottom: 20px;*/
}
.hero-slider .hero-text h1::before {
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 6px;
    background: #2E2751;
    bottom: -3px;
}
.hero-slider .hero-text .p-text{
	max-width:80%;
}
.hero-slider .hero-text p {
    color: #ffffff;
    /*background: #2E2751;*/
    background: rgba(46,39,81, 0.75) ;
    font-size: 15px;
}
.hero-slider .hero-text .button {
	margin-top: 30px;
}

/* Text Center */
.hero-slider .hero-text.text-center h1::before {
    left: 50%;
    margin-left: -25px;
}

/* Text Left */
.hero-slider .hero-text.text-right h1::before {
    left: auto;
	right:0;
    margin:0;
}

/* Slider Nav */
.hero-slider .owl-nav{
	margin: 0;
    width: 100%;
}
.hero-slider .owl-carousel .owl-nav div {
    width: 15px;
    height: 60px;
    line-height: 60px;
    background: #f3a712;
    color: #ffffff;
    position: absolute;
    margin: 0;
    padding: inherit;
    font-size: 30px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0px;
    top: 50%;
    margin-top: -30px;
}
.hero-slider .owl-carousel .owl-nav div:hover{
	color:#fff;
	background:#2E2751;
}
.hero-slider .owl-carousel .owl-nav .owl-prev{
	left:-100px;
}
.hero-slider:hover .owl-carousel .owl-nav .owl-prev{
	left:0px;
}
.hero-slider .owl-carousel .owl-nav .owl-next{
	right:-100px;
}
.hero-slider:hover .owl-carousel .owl-nav .owl-next{
	right:0px;
}

/* Hero Animations */
.hero-slider .owl-item.active .hero-text h4{
	animation: fadeInUp 0.8s both 1s;
}
.hero-slider .owl-item.active .hero-text h1{
	animation: fadeInRight 1s both 1.2s;
}
.hero-slider .owl-item.active .hero-text p{
	animation: fadeInLeft 1.2s both 1.4s;
}
.hero-slider .owl-item.active .button{
	animation: fadeInUp 1.4s both 1.6s;
}


/*======================================
   End Hero Area CSS
========================================*/ 


/*======================================
	Contact Box CSS
========================================*/
.single-contact-box {
	text-align: left;
	margin-bottom: 20px;
	position: relative;
}
.single-contact-box .c-icon {
    float: left;
    margin-right: 20px;
}
.single-contact-box:last-child{
	margin:0;
}
.single-contact-box i {
    font-size: 25px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    background: #2E2751;
    color: #fff;
    text-align: center;
    border-radius: 100%;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.single-contact-box:hover i{
	background:#179E66;
	color:#fff;
}
.single-contact-box h4 {
    color: #2E2751;
    display: block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: inherit;
    margin-bottom: 5px;
}

.vc_custom_1578564488430 {
	font-size: 20px !important;
	line-height: 28px;
}
.contact-box-main .contact-title h2 {
	font-size: 25px;
	margin-bottom: 10px;
}
.contact-box-main .contact-title{
	margin-bottom: 20px;
}
/*======================================
	End Contact Box CSS
========================================*/

/*======================================
	Contact Form CSS
========================================*/
.contact-us{
	padding:70px 0 100px;
}
.contact-form-area {
	background: #fff;
	padding: 40px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
	border-top: 2px solid #179E66;
}
.contact-form-area h4 {
	font-size: 22px;
	font-weight: 600;
}
.contact-form-area .form-group{
	margin:0;
	margin-top:20px;
}
.contact-form-area .form-group input {
    height: 50px;
    border: 1px solid rgba(204, 204, 204, 0.58);
    width: 100%;
    display: block;
    border-radius: 0px;
    padding: 0px 40px 0 15px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 14px;
	font-weight:normal;
}
.contact-form-area .form-group input:focus{
	border-color:#7e868f;
}
.contact-form-area .form-group input:hover{
	border-color:#7e868f;
}
.contact-form-area .form-group textarea {
    height: 170px;
    border: 1px solid #dfdfdf;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 15px;
    resize: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0px;
    padding-right: 40px;
	font-weight:normal;
}
.contact-form-area .form-group{
	position:relative;
}
.contact-form-area .form-group .icon {
    position: absolute;
    right: 15px;
    z-index: 33;
    color: #f3a712;
    top: 12px;
}
.contact-form-area .form-group.button {
    text-align: center;
    margin: 20px 0 0 !important;
}
.contact-form-area .form-group.textarea .icon {
    top: 15px;
    right: 15px;
}
.contact-form-area .bizwheel-btn.theme-2 {
    padding: 15px 32px;
}

/* Faq Form */
.contact-form-area.faq-form {
    background: #2E2751;
    padding: 30px;
}
.contact-form-area.faq-form .form-group {
	margin-top:0px;
    margin-bottom: 20px;
}
.contact-form-area.faq-form .form-group input {
    background: transparent;
    border: none;
    color: #ccc;
	border-bottom:1px solid #ffffff52;
}
.contact-form-area.faq-form .form-group input::-webkit-input-placeholder{
    opacity: 1;
	color: #ccc !important;
}
.contact-form-area.faq-form .form-group input::-moz-placeholder{
    opacity: 1;
	color: #ccc !important;
}
.contact-form-area.faq-form .form-group input::-ms-input-placeholder{
    opacity: 1;
	color: #ccc !important;
}
.contact-form-area.faq-form .form-group textarea::-webkit-input-placeholder{
    opacity: 1;
	color: #ccc !important;
}
.contact-form-area.faq-form .form-group textarea::-moz-placeholder{
    opacity: 1;
	color: #ccc !important;
}
.contact-form-area.faq-form .form-group textarea::-ms-input-placeholder{
    opacity: 1;
	color: #ccc !important;
}
.contact-form-area.faq-form .form-group textarea {
    background: transparent;
    height: 120px;
    border: none;
    border-bottom: 1px solid #ffffff52;
    color: #ccc;
}
.contact-form-area.faq-form .form-group.button{
	text-align:left;
}
.contact-form-area.faq-form .form-group.button .bizwheel-btn:hover{
	background:#fff;
	color:#F3A712;
}
/* Servic Form  */
.contact-form-area.service {
    padding: 0;
    box-shadow: none;
    background: transparent;
    border: none;
}
.contact-form-area.service .form-group textarea {
    height: 120px;
}
/*======================================
	End contact Form CSS
========================================*/